@import "tailwindcss";

:root{
  --primary-green-color:#113120
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* overflow: hidden; */
}

.container {
  /* max-width: 90%; */
  margin: 0 auto;
  padding: 0 15px;
}
.custom-container {
  max-width: 596px;
  margin: 0 auto;
  padding: 0 15px;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.news_container .swiper-wrapper {
  align-items: center;
}
::-webkit-scrollbar {
  display: none;
}
.change_icon_clr img {
  filter: invert(1);
}
header * {
  transition: 1s all;
}
body.active .circle-pointer {
  background-color: #fff;
}
body.active .text {
  color: #fff;
}

body.active .icon {
  filter: invert(1);
}

@media (max-width: 1600px) {
  .container {
    padding: 0 15px;
  }
}
@media (min-width: 96rem) {
    .container {
        max-width: 88rem;
    }
}


custom-container 
.prog {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}
.prog::after {
  content: "";
  background-color: #525252;
  border-radius: 10px;
  width: 8px;
  height: 28px;
  position: relative;
  top: 0;
  left: 0;
}
.border_line {
  background-color: #000;
}
body .border_line {
  transition: 1s all;
}
footer * {
  transition: 1s all;
}
body.active .border_line {
  background: linear-gradient(45deg, black 40%, #fdfdfd 56%);
}
body.active .next_text h2 {
  color: #fff;
}

body.active .next_text img {
  filter: invert(1);
}

.change_style {
  align-items: center;
}
.change_style .prev_title {
  font-size: 18px;
  font-weight: 400;
  flex: 0 0 auto;
  letter-spacing: 4px;
}
.change_style .border_line {
  margin: 0;
}
.projects_container .swiper-slide {
  width: 80%;
}

.swiper-button-disabled{opacity: 0.5;}
.scrollable-container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  overscroll-behavior: contain; /* Prevent parent scrolling */
}
.overlay_gradient{background: linear-gradient(rgb(17 49 32 / 0%) 0%, #113120 100%);}


input[type="file"] {
    background-color: #f9f9f9;
    padding: 0;
    height: 51px;
    text-transform: uppercase;
    letter-spacing: 1.2;
    font-size: 14px;
}

input[type="file"]::file-selector-button {
    color:#000;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
  height: 100%;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: #FFE0AF;
}

/* Browser-specific fallbacks */
input[type="file"]::-webkit-file-upload-button {
    background-color: #FFE0AF;
    color:#000;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
  height: 100%;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #FFE0AF;
}

input[type="file"]::-ms-browse {
    background-color: #FFE0AF;
    color:#000;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
  height: 100%;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

